/*
https://github.com/code-warrior/code-warrior.github.io/blob/master/tutorials/css/shortcut-mnemonics/css-shortcut-mnemonics.md
*/
* {
   border: 0;
   margin: 0;
   padding: 0;
   line-height: 1;
}

:root {
   --width--desktop: 960px;
   --width--tablet: 768px;
   --width--mobile: 93.65%; /* 960/820 */
   --color--text: #222;
   --color--background: pink;
   --typeface--reading: Georgia, serif;
   --typeface--heading: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
   background: var(--color--background);
   color: var(--color--text);
   font-family: var(--typeface--reading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--typeface--heading);
}

#container {
   width: var(--width--desktop);
   margin: auto;
}

@media (max-width: 1024px) {
   #container {
      width: var(--width--tablet);
   }
}

@media (max-width: 820px) {
   #container {
      width: var(--width--mobile);
   }
}
